.food-search_login {
  width: 500px;
  position: absolute;
  top: 2%;
  left: 50%;
  border: 2px solid salmon;
  border-radius: 50px 0px 0px 50px;
  height: 35px;
}
.location_login {
  width: 200px;
  position: absolute;
  top: 2%;
  left: 82%;
  height: 35px;
  border: 2px solid salmon;
  border-radius: 0px 50px 50px 0px;
}
.search_login {
  margin-left: 10px;
  margin-right: 10px;
}
.search-icon_login {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -9%;
  left: 95%;
}
